<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"> </script>
  </head>
  <body>
      <p><button id="request-root">Run AJAX Request to Root</button></p>
      <p><button id="request-ping">Run AJAX Request to Ping</button></p>
      <p><button id="request-pong">Run AJAX Request to Pong</button></p>
      <p><button id="request-count">Run AJAX Request to Count</button></p>
      <p><button id="request-time">Run AJAX Request to Time</button></p>
      <p><button id="request-achar">Run AJAX Request to a_char</button></p>
      <section>
        
      </section>
  </body>
</html>
